@mixin gridContainer(
  $marginTop: var(--flex-grid-margin),
  $marginLeft: var(--flex-grid-margin)
) {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * #{$marginTop});
  margin-left: calc(-1 * #{$marginLeft});
}

@mixin gridItem(
  $columnsCount,
  $marginTop: var(--flex-grid-margin),
  $marginLeft: var(--flex-grid-margin)
) {
  margin-top: #{$marginTop};
  margin-left: #{$marginLeft};

  flex-basis: calc(
    (100% - #{$columnsCount} * #{$marginLeft}) / #{$columnsCount}
  );
}
