.navigation {
  display: flex;
  margin-right: auto;
  color: var(--title-text-color);
}

.navigation__logo {
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-right: 90px;
  }
}
