.address {
  color: var(--footer-secondary-text-color);
  font-style: normal;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.address__text {
  color: var(--background-dark-primary-text-color);
  margin-bottom: 9px;
}

.address__contacts .contacts__item:not(:last-child) {
  margin-bottom: 6px;
}
