.socials__list {
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__icon {
  --color4: currentColor;
}

.socials__link {
  @extend %link;

  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--primary-icon-color);
  transition: var(--animate-color), var(--animate-background-color);

  &:hover,
  &:focus {
    color: var(--background-primary-color);
    background-color: var(--accent-color);
  }
}

.socials__link--dark-bg {
  background-color: var(--footer-icon-background-color);
  color: var(--background-dark-primary-text-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
