.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.subscribe-form__input {
  font-size: 16px;
  line-height: 1.25;
  padding: 16px 15px;

  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--background-dark-primary-text-color);

  @media screen and (max-width: 1200px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 450px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }
}

.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
